---
import Layout from "../layouts/Layout.astro"
---

<Layout title="TSA Competition List">
	<div>
		<h1>Coming Soon</h1>
		<p>This page will be created soon, check back later</p>
	</div>

	<style>
		div {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 16px;
			box-sizing: border-box;
			gap: 8px;
		}

		* {
			margin: 0;
		}
	</style>
</Layout>