---
interface Props {
	href?: string,
	onclick?: string
}
const { href = null, onclick = null } = Astro.props
---

<a href={href}><button onclick={onclick}><slot /></button></a>

<style>
	button {
		background: #0F62FE;
		color: #FFFFFF;
		border: none;
		border-radius: 0;
		font-size: 14px;
		padding: 0 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 32px;
		height: 48px;
		cursor: pointer;
	}
	
	button:hover {
		background: #0353E9;
	}

	a {
		text-decoration: none;
	}
</style>