---
interface Props {
	href?: string,
	onclick?: string
}
const { href = null, onclick = null } = Astro.props
---

<button><slot /></button>

<script is:inline define:vars={{"href": href, "onclick": onclick}}>
	document.querySelector("button")?.addEventListener("click", () => {
		if (onclick != null) {
			eval(onclick)
		}
		if (href != null) {
			window.location.href = href
		}
	})
</script>

<style>
	button {
		background: #0F62FE;
		color: #FFFFFF;
		border: none;
		border-radius: 0;
		font-size: 14px;
		padding: 0 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 32px;
		height: 48px;
		cursor: pointer;
	}
	
	button:hover {
		background: #0353E9;
	}
</style>