---
interface Props {
	href?: string,
	onclick?: string
}
const { href = null, onclick = null } = Astro.props
---

<surrounding-script data-href={href} data-onclick={onclick}><button><slot /></button></surrounding-script>

<script>
	customElements.define(
		"surrounding-script",
		class extends HTMLElement {
			connectedCallback() {
				this.querySelector("button")?.addEventListener("click", () => {
					if (this.dataset.onclick != null) {
						eval(this.dataset.onclick)
					}
					if (this.dataset.href != null) {
						window.location.href = this.dataset.href
					}
				})
			}
		}
	)
</script>

<style>
	button {
		background: #0F62FE;
		color: #FFFFFF;
		border: none;
		border-radius: 0;
		font-size: 14px;
		padding: 0 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 32px;
		height: 48px;
	}
	
	button:hover {
		background: #0353E9;
	}
</style>