---

---

<a href="/">
	<img src="/GCITcheetah.webp" alt="GCIT Logo">
	<img src="/Technology_Student_Association_Emblem.svg.png" alt="TSA Logo">
</a>

<style>
	a {
		display: flex;
		flex-direction: row;
		height: 64px;
		width: fit-content;
		gap: 8px;
	}

	@media (width < 1000px) {
		a {
			height: 48px !important;
		}
	}

	@media (width < 400px) {
		a {
			height: 32px !important;
		}
	}
</style>