---
import Logo from "./Logo.astro"
import NavLink from "./NavLink.astro"
---

<div id="nav">
	<Logo />
	<div>
		<NavLink href="/dynamic/about">About</NavLink>
		<NavLink href="/comp">Competitions</NavLink>
		<NavLink href="/contact">Contact</NavLink>
	</div>
</div>

<style>
	#nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: #393939;
		padding: 16px 32px;
		box-sizing: border-box;
		position: sticky;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}

	@media (width < 1000px) {
		#nav {
			padding: 8px 16px !important;
		}

		div {
			gap: 8px !important;
		}
	}

	@media (width < 400px) {
		#nav {
			padding: 8px 12px !important;
		}

		div {
			gap: 8px !important;
		}
	}
</style>